<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name="com.eyecare.app.presentation.ar.rendering.FrameModelRendererActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
    </application>
</manifest>
